<section class="card blog-card">
  {{#if logged_in}}  
  <div class="blog-header">  
    <h3>{{blog.title}}</h3>
  </div>
  <div>
    {{#each blog as |blog|}}
    {{/each}}
    <div class="blog-details">
      <p>{{blog.contents}}</p>
    </div>
    <p>By: {{blog.username}}</p>
    <p>Published: {{blog.publish_date}}</p>
  </div>
</section>
{{else}}
<a class="login-message" href="/login">You must login first to view this page</a>
{{/if}}
